.setting-box.hide-setting 
  .toggle-setting 
    i.fa.fa-gear.fa-lg
  .settings-content 
        .option-box 
          h4 Color Option 
        .option-box 
          h4 Font Option
        .option-box 
          h4 Sidebar Options
        .option-box 
