 
  .logo-area.text-center Mesho=)
    hr.lineb

    ul.link-area.list-unstyled 
        li: a(href="#") Home Page 
        hr.lineb
        li: a(href="#") Orders
        hr.lineb
        li: a(href="#") Clients
        hr.lineb
        li 
            a.toggle-submenu(href="#") 
               | Products
               i.fa.fa-duotone.fa-angle-right.fa-lg
            ul.chiled-links.list-unstyled 
                il: a(href="#") input
                il: a(href="#") Textarea
                il: a(href="#") checkbx
                il: a(href="#") radio
        hr.lineb
        li 
            a.toggle-submenu(href="#") 
               | Inventory
               i.fa.fa-duotone.fa-angle-right.fa-lg
            ul.chiled-links.list-unstyled 
                il: a(href="#") Inventory Settings
                il: a(href="#") Inventory Operations
        hr.lineb
        li: a(href="#") Reports
        hr.lineb
        li: a(href="#") `2` 12
