.sidebar
  .logo_content.text-center  mesho 
    
  ul.nav_list.list-unstyled  
   
   li: a(href="#") 
     i.bx.bx-grid-alt#iconnav 
     span.link_name HomePage 
 
   li: a(href="#") 
     i.bx.bx-cart-add#iconnav 
     span.link_name Orders 

   li: a(href="#") 
     i.bx.bxs-barcode#iconnav 
     span.link_name Products
    
   li: a(href="#") 
     i.bx.bx-user#iconnav  
     span.link_name Clients 


   li: a(href="#") 
     i.bx.bx-pie-chart-alt-2#iconnav 
     span.link_name Reports 


   li: a(href="#") 
     i.bx.bxs-package#iconnav 
     span.link_name Inventory 

   li: a(href="#") 
     i.bx.bx-trending-up#iconnav 
     span.link_name Analytics 

   li: a(href="#") 
     i.bx.bx-cog#iconnav 
     span.link_name Settings 


i.bx.bx-log-out#logout 










  
  
  
  
  
  
   